<% include partials/header %>
<div id="overlay">
		<div id="progstat"></div>
		<div id="progress"></div>
</div>
<div id="container">
		<!-- <img src="http://placehold.it/3000x3000/cf5"> -->
		<img src="http://placehold.it/3000x3000/cf5">
        <img src="http://placehold.it/3000x3000/f0f">
        <img src="http://placehold.it/3000x3000/fb1">
        <img src="http://placehold.it/3000x3000/ada">
        <img src="http://placehold.it/3000x3000/045">
        <img src="http://placehold.it/3000x3000/b00">
        <img src="http://placehold.it/3000x3000/41b">
        <img src="http://errrrrrrrrrror.it/errorImage">
        <img src="http://placehold.it/3000x3000/098">
        <img src="http://placehold.it/3000x3000/987">
        <img src="http://placehold.it/3000x3000/f25">
        <img src="http://placehold.it/3000x3000/526">
        <img src="http://placehold.it/3000x3000/826">
        <img src="http://placehold.it/3000x3000/ad6">
        <img src="http://placehold.it/3000x3000/74c">
        <img src="http://placehold.it/3000x3000/b40">
        <img src="http://placehold.it/3000x3000/cc7">
        <img src="http://placehold.it/3000x3000/112">
        <img src="http://placehold.it/3000x3000/113">
</div>
<% allblogs.forEach(function(blog){ %>
	<div class="jumbotron jumbos" style="background: url(<%= blog.image %>) no-repeat center center fixed; ">
		<div class="container">
			<h1 class="display-3">
			<div class="row">
				<div class="col">
					<span class="gfont">
					<i class="fa fa-quote-left" aria-hidden="true"></i>
						<span><%= blog.title %></span>
					<i class="fa fa-quote-right" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			</h1> 
			<hr id ="myline">
		 	<p class="lead" style="color: white;">Written by Sumit Sarin</p>
		 	<p style="color: white;"><a href="/stellarglob/<%= blog._id %>">Read</a></p> 
	 	</div>
	</div>
<% });%>
<% include partials/footer %>