<% include partials/header %>
<h1>INDEX PAGE!</h1>
<% allblogs.forEach(function(blog){ %>
	<h2> <%= blog.title %> </h2>
	<img src="<%= blog.image %>" width=200px>
	<a href="/stellarglob/<%= blog._id %>">Show More</a>
<% });%>
<% include partials/footer %>