<% include partials/header %>
	
	<div id="overlay">
		<div id="progstat"></div>
		<div id="progress"></div>
	</div>
		<div id="container">
		<!-- <img src="http://placehold.it/3000x3000/cf5"> -->
	</div>

	<h1 class="myheading">Hi, I am Sumit</h1>
	</br>
	<h1 class="github">
		<!––<a href="https://www.github.com/stellargo"> <i class="fab fa-github-alt fa-lg"></i> </a>
		<a href="https://www.linkedin.com/in/sumit-sarin/"> <i class="fab fa-linkedin fa-lg"></i> </a> ––> 
	</h1>

<% include partials/footer %>


