<% include partials/header %>
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">
			<div class="row">
				<div class="col">
					<span class="gfont">
					<i class="fa fa-quote-left" aria-hidden="true"></i>
						<span class="glitch"> </span>
					<i class="fa fa-quote-right" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			</h1> 
		 	<p class="lead" style="color: white;">Welcome to sumitsarin.com</p>
		 	<hr id ="myline">
		 	<p style="color: white;">Here I host my blogs, projects and much more which I find interesting and worth sharing with the world!</p> 
			<p class="lead"> <a class="btn btn-primary btn-lg buttons" href="https://www.facebook.com/sarinsumit" role="button"><i class="fa fa-facebook-square" aria-hidden="true"></i>  Find me on Facebook!</a> </p>
			<p class="lead"> <a class="btn btn-light btn-lg buttons" href="https://github.com/stellargo" role="button"><i class="fa fa-github" aria-hidden="true"></i>  Find me on Github!</a> </p>
	 	</div>
	</div>
<% include partials/footer %>


