<% include partials/header %>
	
	<div id="overlay">
		<div id="progstat"></div>
		<div id="progress"></div>
	</div>
		<div id="container">
		<!-- <img src="http://placehold.it/3000x3000/cf5"> -->
	</div>

	<h1 class="myheading">Hi, I am /stellargo (Site is under dev)</h1>

<% include partials/footer %>


