<% include partials/header %>
<div>
  <div class="container" style="padding-top: 70px; padding-bottom: 20px;">
    <%= user.displayName %>'s chat
  </div>
  <div class="container">
    <ul class="list-group" id="messages">
    </ul>
  </div>
  <div class="container" style="position: fixed; bottom: 0; width: 100%;">
    <form action="" autocomplete="off">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <input id="m" type="text" style="width:100%;" class="form-control" placeholder="Enter Message">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-danger">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  $(function () {
    var socket = io();
    $('form').submit(function(){
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg,from,colorpick){
      if (msg!=''){
        $('#messages').append($('<div class="alert alert-'+String(colorpick)+'" role="alert">').text(String(from) + ": "+String(msg)));
      }
    });
  });
</script>
<% include partials/footer %>