<% include partials/header %>
<div class = "container">
	<div class="row">
		<h1 style="text-align: center; margin: 200px auto">Create a new Blog!</h1>
		<div style="width: 30%; margin: 200px auto;">
			<form action="/stellarglob" method = "POST">
				<div class="form-group">
					<input class = "form-control" type="text" name="blog[title]" placeholder="title">
				</div>
				<div class="form-group">
					<input class = "form-control" type="text" name="blog[image]" placeholder="image url">
				</div>
				<div class="form-group">
					<textarea placeholder="Blog Content" class = "form-control" name="blog[body]" data-provide="markdown"></textarea>
				</div>
				<div class="form-group" data-provide="markdown">
					<button class = "btn btn-lg btn-primary btn-block" type="submit">Submit!</button>
				</div>
			</form>
			<p><a href = "/stellarglob">Back</a></p>
		</div>
	</div>
</div>
<% include partials/footer %>