<% include partials/header %>
<div class="conainer" style="padding-top: 70px;">you want to access <%= note %>.pdf right?</div>
<h3>Yeah it's kinda under dev so lol.</h3>
<div id = "notepath" hidden><%= note %></div>
<div id="example1"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.0.201604172/pdfobject.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
	var notepath = $('#path').val()
	PDFObject.embed("/"+String(notepath), "#example1");
</script>
<% include partials/footer %>