<% include partials/header %>
<!-- <div id="example1"></div>
<script src="/js/pdfobject.js"></script>
<script>PDFObject.embed("/stellarnotes/", "#example1");</script> -->
<h1>you want to access <%= note %>.pdf right?</h1>
<% include partials/footer %>