.jumbos{
	padding-top: 100px;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}

.myheading{
	text-align: center;
	padding-top: 100px;
	color: #1b0072;
}

body{
	/*padding-top: 100px;*/
	background: url('http://icanbecreative.com/resources/files/articles/40-high-resolution-wallpapers-for-minimalist-lovers/sources/everest-minimalist-wallpaper-blue.png') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}

.blogcontent{
	background-color: rgba(0, 0, 0, 0.03);
	border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.buttons{
	width: auto;
}

.gfont{
	font-family: 'Anton', sans-serif;
	color: white;
}

#myline{
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

