.jumbotron{
	padding-top: 100px;
	background: url('/images/IMG_3987.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}

.jumbo{
	padding-top: 100px;
	background: url('/images/IMG_2889.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}

.buttons{
	width: auto;
}

.gfont{
	font-family: 'Anton', sans-serif;
	color: white;
}

#myline{
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

